/*.input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
 .input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }*/
.tabs {
    position: relative;
    min-height: 200px;
    clear: both;
    margin: 50px 0 25px;
    background: white;
}

.tab {
    float: left;
}

[type=radio]:checked~label~.content {
    z-index: 0 !important;
    opacity: 1;
}

.add-button {
    position: absolute;
    top: 80%;
    left: 30%;
}

.add-number {
    position: absolute;
    top: 80%;
    left: 23%;
}

.tab label {
    background: white;
    padding: 2px;
    border: 1px solid white;
    margin-left: 21px;
    position: relative;
    left: 1px;
    top: -29px;


}

.tab [type=radio] {
    display: none;
}

.content {
    position: absolute;
    top: -1px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border-top: 1px solid gray;
    opacity: 0;
}

.button {
    position: absolute;
    left: 83%;
    top: 45%;
    width: 200px;
    height: 35px;
    opacity: 0.6;
    border-radius: 3px;
    background-color: #ffffff;
}

.heading {
    width: 298px;
    height: 43px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.about {
    width: 181px;
    height: 31px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.head {
    height: 25px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.value {
    height: 30px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.btn-order {
    float: right;
    width: 170px;
    height: 35px;
    border-radius: 6px;
    background-color: #ce0505;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-right: 35px;
}
input[type="radio"]:checked+label{
    font-weight: bold;
    border-bottom: 7px red solid;
    
}
@media only screen and (max-width: 600px) {
    .button {
        position: absolute;
        left: 55%;
        top: 40%;
        width: 200px;
        height: 35px;
        opacity: 0.6;
        border-radius: 3px;
        background-color: #ffffff;
    }
}



.gallery{
    width: 80px!important;
    height: 350px;
}